<div class="card mb-4">
  <div class="card-body bg-light">

    <div class="img-thumbnail float-right">
      <img src="//api.angular.schule/avatar/{{ book.rating }}">
    </div>

    <div class="card-title">
      <h2>{{ book.title }} - {{ book.rating }}</h2>
    </div>

    <b *ngFor="let r of ratings">*</b>

    <p>
      {{ book.description }}
    </p>

    <button
      [disabled]="!book.rateDownAllowed()"
      [ngClass]="{ notAllowed : !book.rateDownAllowed() }"
      (click)="rateDown()"
      class="btn btn-secondary">-1</button>

    <button
      [disabled]="!book.rateUpAllowed()"
      [ngClass]="{ notAllowed : !book.rateUpAllowed() }"
      (click)="rateUp()"
      class="btn btn-danger">+1</button>

    <a class="btn btn-secondary"
      [routerLink]="['/book', book.isbn]">
      Details
    </a>

  </div>
</div>
